father/build
father/exponent/bin
father/exponent/obj
father/counter/bin
father/counter/obj
father/inplation/bin
father/inplation/obj
father/invoice/bin
father/invoice/obj
father/patcher/bin
father/patcher/obj
father/tyres/bin
father/tyres/obj
different/fdom2/Debug
*.suo
*.sdf
*.opensdf
*.ilk
